<!DOCTYPE html>
<html>
<head>{% block head %}

    <meta charset="UTF-8" />
    <title>{% block title %}
            AgrikathonCFKG
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset ('CSS/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/stylenavbar.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/footer.css')}}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset ('js/bootstrap.min.js')}}"></script>
    {% endblock %}
    {% endblock %}
</head>






<body>



        {% block header %}

            <div class="navbar navbar navbar-fixed" >
            CECI EST LA navbar
            </div>

        {% endblock %}



        {% block content %}
            CECI EST LA PLACE POUR LE CONTENU
        {% endblock %}


        {% block footer %}
            CECI EST LE footer
        {% endblock %}






</body>









</html>
