.fondindex {
    background-color: greenyellow;
}

.logos {
    margin: 0 auto;

}

.logo {
    width: 80px;
    margin: 30px;

}


.propose {
    font-weight: bold;
    margin: 30px;
    text-align: center;
    background-color: limegreen;
    border-radius: 10px;
    padding: 20px;
    font-size: 5rem;
}

.propose1 {
    font-weight: bold;
    margin: 30px;
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    padding: 20px;
    font-size: 5rem;
}
.propose2 {
    font-weight: bold;
    margin: 30px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 20px;
    font-size: 5rem;

}