<div class="container-fluid foot-back fonddiv">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">ALIMENTATION
            </h4>

            <ul>
                <li class="foot_list">
                    Courses
                </li>
                <li class="foot_list">
                    Livraison Panier repas
                </li>
                <li class="foot_list">
                    Cuisine à domicile
            </ul>
        </div>
    </div>
</div>

<h1 class="slogan">Agriculture Services</h1>