{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block content %}

    <div class ="container-fluid">

        <br/><h1 class="depot">Je dépose mon annonce</h1><br/><br/>
        <p class="depot1">Catégorie</p><br/>
        <p class="depot1">Type d'annonce</p><br/>
        <p class="depot1">Titre</p><br/>
        <p class="depot1">Texte de l'annonce</p><br/>
        <p class="depot1">Prix</p><br/>
        <p class="depot1">Mes coordonnées</p><br/>




    </div>





    <script>

    </script>

{% endblock %}