<div class="container-fluid foot-back fonddiv">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">ALIMENTATION
            </h4>

            <ul>
                <li class="foot_list">
                    Courses
                </li>
                <li class="foot_list">
                    Livraison Panier repas
                </li>
                <li class="foot_list">
                    Cuisine à domicile
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">ENTRETIEN MAISON</h4>

            <ul>
                <li class="foot_list">
                    Ménage
                </li>
                <li class="foot_list">
                    Repassage
                </li>
                <li class="foot_list">
                    Jardinage
                </li>
                <li class="foot_list">
                    Bricolage
                </li>
                <li class="foot_list">
                    Couture, retouches
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">ASSISTANCE DEPANNAGE</h4>

            <ul>
                <li class="foot_list">
                    Entretien voiture
                </li>
                <li class="foot_list">
                    Services informatiques
                </li>
                <li class="foot_list">
                    Aide administrative
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">MOBILITE</h4>

            <ul>
                <li class="foot_list">
                    Prêt de véhicules
                </li>
                <li class="foot_list">
                    Covoiturage
                </li>
                <li class="foot_list">
                    Navette entreprise
                </li>
            </ul>
        </div>
    </div>
</div>








<div class="container-fluid foot-back fonddiv">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">LOISIRS CULTURE</h4>

            <ul>
                <li class="foot_list">
                    Cours particuliers
                </li>
                <li class="foot_list">
                    Sorties culturelles
                </li>
                <li class="foot_list">
                    Club de partage
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">ENFANTS</h4>

            <ul>
                <li class="foot_list">
                    Garde d’enfants
                </li>
                <li class="foot_list">
                    Baby-sitting
                </li>
                <li class="foot_list">
                    Soutien scolaire
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">EN VOTRE ABSENCE</h4>

            <ul>
                <li class="foot_list">
                    Nourrir, promener animaux
                </li>
                <li class="foot_list">
                    Arrosage plantes
                </li>
                <li class="foot_list">
                    Gardiennage
                </li>
                <li class="foot_list">
                    Réception colis /livraison
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h4 class="foot-menu">SANTE</h4>

            <ul>
                <li class="foot_list">
                    Surveillance
                </li>
                <li class="foot_list">
                    Mutualisation des RDV médicaux
                </li>
                <li class="foot_list">
                    Livraison de médicaments
                </li>
            </ul>
        </div>
    </div>
</div>














<div class="container-fluid foot-back fonddiv2">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <h3 class="foot-menu">A PROPOS DE<br/>SERVICES CAMPAGNES</h3>

            <ul>
                <li class="foot_list">
                    Qui sommes-nous ?
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h3 class="foot-menu">INFORMATIONS LEGALES</h3>

            <ul>
                <li class="foot_list">
                    Conditions générales d'utilisation
                </li>
                <li class="foot_list">
                    Règles de diffusion
                </li>
                <li class="foot_list">
                    Conditions Générales de Vente
                </li>
                <li class="foot_list">
                    Vie privée / cookies
                </li>
                <li class="foot_list">
                    Vos droits et obligations
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h3 class="foot-menu">PROFESSIONNELS</h3>

            <ul>
                <li class="foot_list">
                    Publicité
                </li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h3 class="foot-menu">DES QUESTIONS</h3>

            <ul>
                <li class="foot_list">
                    Aide
                </li>
                <li class="foot_list">
                    Nous contacter
                </li>
                <li class="foot_list">
                    Conditions Générales de Vente
                </li>
            </ul>
        </div>


    </div>
</div>