<img src="{{ asset('images/agriculture-2.jpg')}}" class="jumbo1"/>


<div class="row">
    <div class="col-sm-12">
        <h1 class="rs">SERVICES CAMPAGNES, plateforme d'échanges de services</h1>
    </div>
</div>